# **Introducci√≥n a Python para An√°lisis de Datos**
## Cap√≠tulo 1: Python Base
---
**Autor:** Juan Martin Bellido  

**Descripci√≥n**  
*En este primer notebook exploraremos las operaciones m√°s elementales que debemos aprender de Python. El foco aqu√≠ est√° en aprender lo b√°sico antes comenzar a utilizar este lenguaje de programaci√≥n para el an√°lisis de datos. Utilizaremos √∫nicamente sintaxis propia de Python base, es decir, disponible en el lenguaje de forma nativa.*  

**¬øFeedback? ¬øcomentarios?** Por favor comp√°rtelo conmigo escribi√©ndome por [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)  

**Material Adicional**
* [Comandos Jupyter Notebook](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/comandos-rapidos-jupyter)
* [Sintaxis Markdown](https://datawizards.es/contenido/codigo-para-analisis-de-datos/guias/sintaxis-markdown)


## INDICE
---
1. Introducci√≥n a objetos en Python
2. Estructuras de datos
3. Funciones vs. m√©todos
4. Operadores
5. B√°sicos de programaci√≥n
6. Ejercicios

Convenciones utilizadas en este documento
> üëâ *Esto es una nota u observaci√≥n*

> ‚ö†Ô∏è *Esto es una advertencia*

# 1. Introducci√≥n a objetos en Python
---

### Comentando nuestro c√≥digo

Es habitual que los lenguajes de programaci√≥n contengan opcionar para "comentar c√≥digo". Esto es, que permitan a√±adir texto al c√≥digo a modo de anotaciones sin que este afecte la ejecuci√≥n del mismo.

> üëâ Hablamos de *comentar c√≥digo* cuando incorporemos notas en una celda de tipo c√≥digo. En un entorno de tipo Jupyter Notebook, tambi√©n tenemos la opci√≥n de crear celdas de tipo texto. En entornos de tipo IDEs (la alternativa a Jupyter Notebook), esto no es posibole y comentar c√≥digo es la √∫nica forma de a√±adir anotaciones.  

Para comentar c√≥digo en Python, simplemente a√±adimos un s√≠mbolo de # (almohadilla). Cualquier caracter despu√©s de # y en la misma l√≠nea de c√≥digo quedar√° comentado y dejar√° de tenerse en cuenta en la ejecucuci√≥n de nuestro c√≥digo.

> üëâ Observar c√≥mo el texto cambia autom√°ticamente de color al detectase que se trata de una anotaci√≥n. Esto es un recurso propio del entorno y orientado a mejorar la legibilidad de nuestro c√≥digo.

In [ ]:
# esto es una anotaci√≥n
1 + 1 # esto tambi√©n es una anotaci√≥n, a partir de la # (pero no antes)

2

### Declarar objetos

Python es un *lenguaje orientado a objetos*. Esto significa que podemos guardar informaci√≥n en objetos (*variables*) que se almacenar√°n en nuestro entorno de forma temporal y podremos invocar seg√∫n precisemos.

> üëâ Utilizamos los t√©rminos *objeto* y *variable* de forma indistinta  

> ‚ö†Ô∏è Los objetos declarados se perder√°n √∫nicamente al reiniciar nuestro entorno o al expl√≠citamente eliminarlos  

Para declarar un objeto, simplemente asignamos un nombre para nuestra variable (el nombre no debe contener espacios) seguido de un s√≠mbolo = (igual) con la informaci√≥n que busquemos almacenar en esta.

In [ ]:
# a continuaci√≥n, un ejemplo sencillo de c√≥mo podemos definir un objeto y luego invocarlo
my_name = "Martin" # definimos un objeto y almacenamos texto

Tras declarar un objeto, podremos invocarlo simplemente ejecutando el nombre de la variable.

In [ ]:
my_name  # invocamos objeto

'Martin'

> ‚ö†Ô∏è Los nombres de los objetos no pueden tener espacios, tampoco comenzar con n√∫meros (ej. 1_nombre)

### Consultar variables declaradas
Una desventaja de un entorno de tipo Jupyter Notebook (vs. IDEs) es que no contempla una opci√≥n que permita visualizar los objetos declarados. Para poder hacerlo, podemos utilizar el comando *%whos* de Jupyter Notebook.

> üëâ Este comando NO es Python, sino una funci√≥n propia de Jupyter Notebook (nuestro entorno). La caracter√≠stica de este tipo de comandos (denominados "magic commands") es que siempre comienzan con el s√≠mbolo % (porcentaje)

In [ ]:
# cosultando variables declaradas en nuestro entorno
%whos # esto NO es Python, se trata simplemente de un comando propio de Jupyter Notebook ("magic commands")

No variables match your requested type.

### Eliminar variables declaradas
Utilizamos el comando *del* para eliminar expl√≠citamente variables declaradas. Tras hablerlas eliminado se borrar√°n de memoria y no podremos invocarlas.


> üëâ Eliminar variables que ya no necesitemos nos permite liberar memoria y es una buena pr√°ctica al escribir c√≥digo  

> ‚ö†Ô∏è Tras eliminar un objeto no podremos invocarlo; si intentamos hacerlo resultar√° en error

In [ ]:
# eliminamos de memoria la variable previamente declarada
del my_name


Podemos eliminar m√°s de un objeto en la misma l√≠nea de c√≥digo utilizando la siguiente sintaxis
```
del obj_1, obj_2, obj_3
```

### Tipos de objeto
Python contempla de forma nativa varios tipos de objetos. Para an√°lisis de datos, nos enfocaremos √∫nicamente en cuatro tipos.

*  *Num√©ricos enteros (integer)*
*  *Num√©ricos con decimales (float)*
*  *Texto (string)*
*  *Booleanos o l√≥gicos (boolean)*  

La funci√≥n *type()* permite consultar el tipo de objeto de una variable.

```
type(obj)
```

In [ ]:
# declaramos un objeto de tipo integer
numeric_obj = 2
type(numeric_obj)

int

In [ ]:
# declaramos un objeto de tipo float
numeric_obj = 1.2
type(numeric_obj)

float

> ‚ö†Ô∏è Para cualquier input de tipo texto debemos siempre utilizar comillas; estas pueden ser simples o dobles

In [ ]:
# declaramos un objeto de tipo texto
string_obj = "Python" # siempre usamos comillas para inputs de tipo texto, da igual si son simples o dobles
type(string_obj)

str

> ‚ö†Ô∏è Los booleanos pueden ser o bien verdaderos (True) o falsos (False). Al declararlo la primer letra debe ir en may√∫sculas

In [ ]:
# declarmos un objeto booleano
bool_obj = True
type(bool_obj)

bool

### Consideraciones al definir objetos de tipo string
Podemos combinar comillas simples y dobles para poder incluir comillas dentro de nuestro input de tipo texto.

In [ ]:
# al definir objetos de tipo string, debemos siempre utilizar comillas
# las comillas pueden ser dobles ("") o simples ('')
string_obj = "Python"
stirng_obj = 'Python'

In [ ]:
# podemos combinar comillas, en caso de necesitarlo
string_obj = "El libro se titula 'Ficciones', de Jorge Luis Borges"
string_obj = 'El libro se titula "Ficciones", de Jorge Luis Borges'

# 2. Estructuras de datos b√°sicas
---
En todos los ejemplos anteriores, hemos declarados variables que contienen un √∫nico elemento. Python contempla distintas estructuras que permiten almacenar m√∫ltiples elementos bajo un mismo objeto. Podemos entender una estructura de datos simplemente como un contenedor que nos permite almacenar m√∫ltiples elementos.

> üëâ Siempre que almacenemos m√°s de un elemento bajo el mismo objeto, estaremos usando una estructura de datos

Python contempla de forma nativa cuatro estructuras de datos, cada uno de ellos con caracter√≠sticas y tratamiento propio. 

*   *Lists*
*   *Dictionaries*
*   *Tuples*
*   *Sets*

> üëâ Por fuera de estas cuatro estructuras de datos b√°sicas, existen estructuras adicionales que han sido incorporadas por medio de librer√≠as, es decir, funcionalidades que no son parte del c√≥digo fuente de Python. En concreto, en an√°lisis de datos utilizamos principalmente DataFrames (tablas de datos) que han sido incorporadas por la librar√≠a *Pandas*.

### Lists
Los *lists* son estructuras *indexadas* que permiten almacenar elementos de cualquier tipo. Se trata de la estructura m√°s sencilla y utilizada, dentro de aquellas disponibles en Python base. 

> üëâ Que una estructura sea *indexada* significa que Python no solamente almacena la informaci√≥n que all√≠ depositemos, sino tambi√©n *la posici√≥n espec√≠fica que ocupa cada elemento dentro de la estructura*  

> ‚ö†Ô∏è Python indexa al cero. Esto significa que el 0 es la primer posici√≥n para este lenguaje de programaci√≥n  

Para declarar un list utilizamos la siguiente sintaxis

```
my_list = [1,2,3]
```

In [ ]:
# declaramos un list
my_list = [1,"a",3,False,5]
my_list

[1, 'a', 3, False, 5]

In [ ]:
# corroboramos que nuestro objeto almacena un list
type(my_list)

list

In [ ]:
# los lists pueden incluso contener otras estructuras como elementos
my_list_v2 = [100,"cien",my_list]
my_list_v2

[100, 'cien', [1, 'a', 3, False, 5]]

In [ ]:
# la caracter√≠stica principal de un list es que los elementos almacenados se encuentran indexados
# esto significa que cada elemento en un list contiene un n√∫mero √∫nico que nos permite invocarlo
# nota importante: Python indexa al 0 (el 0 es el primer valor)
my_list_v2[0]

100

In [ ]:
# otra ventaja, es que podemos modificar un elemento, simplemente conociendo su posici√≥n
# modificamos un elemento dentro del list
my_list_v2[0] = 101
my_list_v2

[101, 'cien', [1, 'a', 3, False, 5]]

### Dictionaries
En ocasiones, nos interesa poder invocar elementos en nuestra estructura a partir de valores que hayamos asignado y no seg√∫n su posici√≥n.

Los *dictionaries* son estructuras que permiten almacenar elementos bajo una l√≥gica *key-pair*. Se trata de estructuras no indexadas, donde los elementos all√≠ depositados son invocados seg√∫n un valor *key* asignado.


> ‚ö†Ô∏è Los *dictionaries* no admiten valores *key* duplicados y los elementos almacenados no mantienen un orden ni se encuentran indexados; los valores (*pair*) se invocan utilizando el *key*.

Para declarar un dictionary utilizamos la siguiente sintaxis

```
my_dic = {
  key_1:value_1,
  key_2:value_2,
  key_3:value_3
}
```

In [ ]:
# declaramos dic
my_dic = {
  "code": "Python",
  "lecturer": 'Juan Martin Bellido',
  "is_practical": True,
  "number_students":3,
  "student_names":["Maria","Juan","Jose"] # utilizamos un list aqu√≠, ya que estamos proporcionando m√°s de un elemento
}

# invocamos dic
my_dic

{'code': 'Python',
 'lecturer': 'Juan Martin Bellido',
 'is_practical': True,
 'number_students': 3,
 'student_names': ['Maria', 'Juan', 'Jose']}

In [ ]:
# corroboramos que nuestro objeto almacena un dic
type(my_dic)

dict

In [ ]:
# invocamos elemento en dic utilizando su valor "key"
my_dic['lecturer']

'Juan Martin Bellido'

In [ ]:
# reemplazamos un elemento almacenado
my_dic['student_names'] = ["Maria","Juan","Jose","Pepe"]
my_dic

{'code': 'Python',
 'lecturer': 'Juan Martin Bellido',
 'is_practical': True,
 'number_students': 3,
 'student_names': ['Maria', 'Juan', 'Jose', 'Pepe']}

In [ ]:
# podemos utilizar el m√©todo .keys() para obtener los valores key en nuestro dic
# un "m√©todo" es similar a una funci√≥n, ver secci√≥n 4 para m√°s detalles
my_dic.keys()

dict_keys(['code', 'lecturer', 'is_practical', 'number_students', 'student_names'])

### Tuples
---
Los *tuples* son estructuras indexadas similares a las *list*, pero con una diferencia fundamental: son *inmutables*. Esto significa que, tras declarar un tuple, no podremos modificar elementos en el depositados.

> ‚ö†Ô∏è La √∫nica forma de modificar un tuple, es volver a declararlo

Para declarar un tuple utilizamos la siguiente sintaxis
```
my_tuple = (1,2,"c")
```

In [ ]:
# declaramos un tupple y lo invocamos
my_tuple = (2,1,"Python",True)
my_tuple

(2, 1, 'Python', True)

In [ ]:
# corroboramos que nuestro objeto almacena un tuple
type(my_tuple)

tuple

In [ ]:
# invocamos el elemento que ocupa la tercer posici√≥n en nuestro tupple (recordemos que Python indexa al cero)
my_tuple[2]

'Python'

> ‚ö†Ô∏è La celda a continuaci√≥n dar√° intencionalmente error como resultado. Esto se debe a que no podemos editar un elemento en un tuple tras ser declarado

In [ ]:
# Intentamos modificar un elemento en el tupple, pero esto nos dar√° error
## como hemos anticipado, los tupples son inmutables
my_tuple[1] = 3 # esto generar√° error

TypeError: ignored

### Sets
Por √∫ltimo, nos queda la estructura menos utilizada, por tanto la menos importante. Los *sets* son estructuras no indexadas, inmutables (idem tuples) y no ordenadas. La ventaja de un set es que nos asegura almacenar valores √∫nicos (no duplicados). Por otro lado, a diferencia del resto de estructuras, no contempla la opci√≥n de invocar elementos individuales dentro de la estructura.

> ‚ö†Ô∏è No podremos invocar elementos individuales dentro de la estructura. Esta estructura no indexa, tampoco contempla valores "key" que nos permitan realizar la tarea

Para definir un set utilizamos la siguiente sintaxis

```
my_set = {1,2,"c"}
```

In [ ]:
# declaramos un set y lo invocamos
my_set = {1,1,5,'a','c','a'} # introducidmos valores repetidos
my_set # al invocarlo, observamos que mantiene solo valores √∫nicos

{1, 5, 'a', 'c'}

In [ ]:
# corroboramos que nuestro objeto almacena un set
type(my_set)

set

# 3. Funciones vs. m√©todos
---
Una caracter√≠stica curiosa de Python es la distinci√≥n entre *funciones* y *m√©todos*. En un sentido amplio, podr√≠amos hablar de ambas como "funciones"; se trata de c√≥digo que invocamos para realizar una tarea espec√≠fica. 

Utilicemos como ejemplo la funci√≥n *type()*, previamente utilizada. Detr√°s de esta funci√≥n hay c√≥digo, al cual a priori no podemos acceder (y francamente no nos interesa hacerlo). Invocamos esta funci√≥n porque conocemos la tarea espec√≠fica que realiza. Por otro lado, para poder actuar, la funci√≥n espera un input, en este caso el nombre de un objeto declarado en nuestro entorno.

Sintaxis gen√©rica de una funci√≥n (propiamente dicha)

```
function_name(parameter_1, parameter_2, ...)
```


*¬øQu√© son los m√©todos?*

Los m√©todos son funciones que est√°n *asociadas a una clase o tipo de informaci√≥n espec√≠fica*. Mientas las funciones (propiamente dichas) son amplias y permiten ser utilizadas con cualquier tipo de objeto, los m√©todos √∫nicamente operan con el tipo de objeto para el cual han sido dise√±ados.

La sintaxis en un m√©todo cambia

```
object.method_name(parameter_1, parameter_2, ...)
```

> ‚ö†Ô∏è En un m√©todo, a diferencia de una funci√≥n, comenzamos siempre con el nombre del objeto

Como ejemplo de un m√©todo, hemos presentado en la secci√≥n anterior el m√©todo *.keys()*. En este caso, hablamos de un m√©todo espec√≠fico para *dictionaries* y que no tendr√≠a sentido para otro tipo de estructuras.

### Operaciones avanzadas con lists
Los *lists* son las estructuras de datos de Python base m√°s utilizadas. A continuaci√≥n, utilizaremos m√©todos y funciones para introducir algunas operaciones √∫tiles al trabajar con este tipo de estructuras.

El m√©todo *.append()* nos permite a√±adir un elemento a un list de forma din√°mica, es decir, sin tener que volver a declarar el objeto. En este caso, el nuevo elemento se a√±adir√° siempre en la √∫ltima posici√≥n.

In [ ]:
# declaramos un list
city_list = ['Madrid','Barcelona','Paris','Buenos Aires']

In [ ]:
# utilizamos el m√©todo .append()
city_list.append('Milan')

In [ ]:
# invocamos list
city_list

['Madrid', 'Barcelona', 'Paris', 'Buenos Aires', 'Milan']

El m√©todo *.insert()* es similar al anterior, pero este nos permite especificar la posici√≥n que queremos que ocupe el nuevo elemento.

In [ ]:
# utilizamos el m√©todo .insert() para a√±adir un nuevo objeto en la lista, especificando su posici√≥n dentro de la estructura
city_list.insert(0,'Berlin') # lo introducimos en la primer posici√≥n (0)

In [ ]:
# Invocamos la lista
city_list

['Berlin', 'Madrid', 'Barcelona', 'Paris', 'Buenos Aires', 'Milan']

Podemos utilizar *del* para eliminar elementos en lista seg√∫n su posici√≥n.

In [ ]:
# podemos remover objetos en una list, en funci√≥n de su posici√≥n
del city_list[1] # removemos el segundo objeto

In [ ]:
# invocamos list para observar cambios
city_list

['Berlin', 'Barcelona', 'Paris', 'Buenos Aires', 'Milan']

En ocasiones, nos resulta m√°s c√≥modo remover elementos seg√∫n su valor. El m√©todo .remove() nos permite hacer esto en un list.

In [ ]:
# eliminamos elemento seg√∫n valor
city_list.remove('Milan')

In [ ]:
# invocamos list para observar cambios
city_list

['Berlin', 'Barcelona', 'Paris', 'Buenos Aires']

¬øCu√°ntos elementos tiene almacenados mi lista? Podemos utilizar la funci√≥n *len()* para consultar esta informaci√≥n.

In [ ]:
# utilizamos la funci√≥n len() para consultar cantidad de elementos almacenados en un list
len(city_list)

4

# 4. Operadores
---
En programaci√≥n, los operadores son s√≠mbolos espec√≠ficos que permiten hacer comparaciones y realizar manipulaciones. 

Existen varios tipos, en an√°lisis de datos nos enfocaremos en los siguientes:

*   *Operadores aritm√©ticos*: permiten realizar operaciones matem√°ticas (ej. suma, divisi√≥n, etc.)
*   *Operadores de comparaci√≥n*: contrastan objetos y comparan valores, arrojando siempre como resultado  True/False
*   *Operadores l√≥gicos*: se utilizan para combinar pruebas l√≥gicas

### Operadores aritm√©ticos

| Operator 	|   Description  	|
|----------	|:--------------:	|
| +        	| addition       	|
| -        	| subtraction    	|
| *        	| multiplication 	|
| /        	| division       	|
| **  	| exponentiation 	|

<br/>

In [ ]:
# declaramos dos objetos num√©ricos
obj_1 = 10
obj_2 = 5

In [ ]:
# utilizamos un operador aritm√©tico para realizar una operaci√≥n matem√°tica
obj_1/obj_2

2.0

In [ ]:
# realizamos otra operaci√≥n
obj_1-obj_2

5

### Operadores de comparaci√≥n

| Operator  	|        Description       	|
|-----------	|:------------------------:	|
| <         	| less than                	|
| <=        	| less than or equal to    	|
| >         	| greater than             	|
| >=        	| greater than or equal to 	|
| ==        	| exactly equal to         	|
| !=        	| not equal to             	|

<br/>

In [ ]:
# declaramos dos objetos num√©ricos
obj_1 = 10
obj_2 = 5

In [ ]:
# utilizamos operadores de comparaci√≥n para testear una condici√≥n
obj_1 > 8

True

In [ ]:
# otro ejemplo
obj_1 == obj_2

False

### Operadores l√≥gicos

| Operator  	|        Description       	|
|-----------	|:------------------------:	|
| x and y    	| se cumplen condiciones X e Y                    	|
| x or y    	| se cumple  condiciones X o Y                   	|
| not x     	| negamos la condici√≥n X   	|

<br/>

In [ ]:
# declaramos dos objetos num√©ricos
obj_1 = 10
obj_2 = 5

In [ ]:
# comprobamos si se cumple alguna de las dos condiciones
obj_1 > 8 or obj_2 > 8 # "objeto 1 es mayor a 8 u objeto 2 es mayor a 8"

True

In [ ]:
# comprobamos si se cumplen ambas condiciones simult√°neamente
obj_1 > 8 and obj_2 > 8 # "objeto 1 es mayor a 8 y objeto 2 es mayor a 8"

False

In [ ]:
# negamos una condici√≥n
not obj_1 > 8

False

### Operador IN

El operador *in* permite comprobar si un valor se encuentra contenido en un list.

In [ ]:
# definimos una list
city_list = ['Madrid','Barcelona','Paris','Buenos Aires']

In [ ]:
# ¬øincluye el valor 'Madrid'? 
'Madrid' in city_list

True

In [ ]:
# ¬øincluye el valor 'New York'?
'New York' in city_list

False

# 5. B√°sicos de programaci√≥n
---

### Expresiones condicionales

Una *expresi√≥n condicional* es una serie de pruebas l√≥gicas con respuestas pre definidas en caso de que la condici√≥n se cumpla.

> üëâ Para realizar prueba l√≥gicas (testear condiciones) utilizamos siempre operadores de comparaci√≥n

Sintaxis b√°sica
```
if (cond):
  respuesta si la condici√≥n se cumple 
```

Sintaxis ampliada
```
if (cond):
  respuesta si la condici√≥n se cumple 
elif (cond):
  respuesta si la condici√≥n se cumple 
...
else: 
  respuesta si ninguna de las condiciones anteriores se cumple
```

> ‚ö†Ô∏è En caso de tener m√∫ltiples condiciones, estas se ir√°n testeando en orden. La primera condici√≥n en cumplirse activar√° la respuesta

In [ ]:
# creamos una condici√≥n para comprobar si el objeto contiene un n√∫mero positivo
obj = 10 # creamos un objeto

if obj > 0:                         # condici√≥n 1: testear si el objeto es positivo
  print("number is positive")       # print() despliega un mensaje

# n√≥tese que no hemos especifico una respuesta en caso de que la condici√≥n no se cumpla

number is positive

In [ ]:
# vamos a expandir la prueba anterior
obj = -10 # creamos un objeto

if obj > 0:                         # condici√≥n 1: ¬øel n√∫mero es mayor a 0?
  print("number is positive")       # respuesta a condici√≥n 1
elif obj == 0:                      # condici√≥n 2: ¬øel n√∫mero es 0?
  print("number is 0")              # respuesta a condici√≥n 2
else:                               # condici√≥n 3: ninguna de las condiciones anteriores se cumple
  print("number is negative")       # respuesta a condici√≥n 3

number is negative

### Iteraciones
Las iteraciones se articulan por medio de bucles (*loops*), estas son secuencias de instrucciones que se ejecutan un n√∫mero determinado de veces.

*¬øQu√© determina la cantidad de ejecuciones en un bucle?*

La cantidad de ejecuciones depende del tipo espec√≠fico de bucle
*   *For loop*: el bucle se repite tantas veces como la cantidad de elementos en una estructura (usualmente lists)
*   *Do while*: el bucle se ejecuta siempre y cuando una condici√≥n se mantenga cierta

Estos dos tipos de bucles son opciones t√≠picamente disponibles en cualquier lenguaje de programaci√≥n. Adicionalmente, Python incorpora una forma simplificada de realizar iteraciones: los *comprehension lists*.

#### For loops

Sintaxis b√°sica
```
my_list = [x,y,z .. n]
for i in my_list:
  print(i)
```

> üëâ El valor de nuestro objeto iterable cambia en cada ciclo

In [ ]:
# ejemplo de for loop
my_list = ["a","b","c","d","e"] # creamos un list
for x in my_list: # esto se puede leer: por cada elemento x en "my_list", realizar la siguiente tarea
  print(x)

# este for loop tiene 5 iteraciones, ya que hay 5 elementos en nuestra lista
# x adquiere el valor de cada elemento en nuestra lista

a
b
c
d
e

If we want to iterate for a given large number of times (e.g. 100 times); we can use the range() function to avoid manually creating a data structure with a large number of objects stored (e.g. 100 objects).

En ocasiones, podemos querer iterar un n√∫mero espec√≠fico de veces (por ejemplo 100 veces). La funci√≥n range() nos evita el trabajo de crear manualmente un list con x elementos (ej. 100).

```
range(start,end)
```

In [ ]:
# iteramos 10 veces
for value in range(1,11):
  print(value)

1
2
3
4
5
6
7
8
9
10

#### While loops
En un *while loop*, el bucle contin√∫a mientras una condici√≥n se cumpla.

```
while (cond):
  proceso
```

> üëâ El n√∫mero de iteraciones no est√° pre establecido, dado que no depende de la cantidad de elmentos en una estructura

> ‚ö†Ô∏è Debemos tener cuidado de evitar bucles infinitos. En tal caso, nos veremos obligados a reiniciar el entorno

In [ ]:
my_object = 10                # creamos un objeto
while my_object <= 25:        # estabecemos una condici√≥n
  print(my_object)            
  my_object = my_object + 1   # sumamos 1 en cada iteraci√≥n

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

#### Comprehension lists
Python contempla esta opci√≥n como alternativa para realizar iteraciones simples en una √∫nica l√≠nea de c√≥digo.

```
[expression(element) for element in list]
```

In [ ]:
# vamos a construir un bucle que multiplica cada elemento en un list por dos
[x*2 for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# 6. Ejercicios
---

> üëâ Puedes encontrar las soluciones a los ejercicios [aqu√≠](https://nbviewer.org/github/SomosDataWizards/Python-Curso-Introductorio/blob/main/Ejercicios.ipynb)

### Ejercicio #1
Debajo hay un list que contiene nombres de comida. Crear un *for loop* donde se despliegue "I love ... (cada elemento en el list)"

Resultado esperado:  
I love pizza  
I love sushi  
I love paella  
I love tapas  

> üëâ Puedes concatenar texto facilmente uniendo inputs de tipo texto con un operador +

In [ ]:
# ejemplo de concatenar texto
my_name = 'Martin'
print('Mi nombre es ' + my_name)

Mi nombre es Martin

In [ ]:
# utiliza el siguiente list para realizar el ejercicio
food_list = ['pizza','sushi','paella','tapas']

### Ejercicio #2
A continuaci√≥n, presentamos otro list que contiene comida. Repetir el ejercicio anterior, esta vez evitar desplegar los elementos "onions" y "garlic" (sin editar el list).

In [ ]:
food_list = ['pizza','sushi','onion','paella','garlic','tapas']